div{
    font-family: 'Montserrat', sans-serif;
}

.lang{
    display: flex;
    justify-content: space-between;
    width: 67px;
    border: 1px solid black;
    border-style: dashed;
    cursor: pointer;
}





