div{
    font-family: 'Montserrat', sans-serif;
}

.lang{
    display: flex;
    justify-content: space-between;
    width: 67px;
    border: 1px solid black;
    border-style: dashed;
    cursor: pointer;
}


.ru{
    color: rgba(128, 128, 128, 0.369);
}

.eng{
    color: rgba(128, 128, 128, 0.369);
}



.transition-fade {
    transition: .4s;
    opacity: 1;
    width: 20px;
}
  
html.is-animating .transition-fade {
    opacity: 0;
    width: 200px;
}